{% extends 'base.html' %}

{% block content %}
<form>
    <input type="button" value="Back" class="back_button" onclick="history.back()">
</form>

<div class="table_container">
    <table class="visited_tables">
        <tr>
            <th>Country</th>
            <th>Continent</th>
            <th>Mark as Visited</th>
        </tr>
        {% for country in countries %}
        <tr>
            <td>{{country.name}}</td>
            <td>{{country.continent}}</td>
            <td><form class="mark_visited_form" action="/countries/notvisited/{{country.id}}/markvisited" method="POST">
                <button class="visited-button">Mark Visited</button></form>
            </td> 
        </tr>        
        {% endfor %}
    </table>
</div>

{% endblock %}