{% extends 'base.html' %}

{% block content %}
<form>
    <input type="button" value="Back" class="back_button" onclick="history.back()">
</form>

<section class="card_container">
    {% for country in countries %}
    
    <div class="card">
        <div class="card_image" style="background-image: url('/static/img/countries/{{country.name}}.jpeg');"></div>
        <h2><a href="/countries/{{country.id}}">{{country.name}}</a></h2>
        <p>{{country.continent}}</p>
        <div class="button_container">
            <form class="mark_visited_form" action="/countries/notvisited/{{country.id}}/markvisited" method="POST">
            <button><i class="fas fa-check"></i></button></form>
            <a href="/countries/{{country.id}}/edit"><i class="fas fa-edit"></i></a>
            <form class="delete_form" action="/countries/notvisited/{{country.id}}/deletenotvisited" method="POST">
            <button><i class="fas fa-trash-alt"></i></button></form>
        </div>    
        
    </div>
        
    
{% endfor %}
</section>

{% endblock %}

