{% extends 'base.html' %}

{% block content %}

<form>
    <input type="button" value="Back" class="back_button" onclick="history.back()">
</form>

<div class="show_container">
    <ul>
        <li>
            <h2>{{country.name}}</h2>
        </li>
        <li>
            {{country.continent}}
        </li>
        <li>
            {{country.visited}}
        </li>
        {% for city in cities %}
        <li>
            {{city.name}}
        </li>
        {% endfor %}
    </ul>
    <a href="/countries/{{country.id}}/edit"><button>Edit</button></a>
</div>


{% endblock %}