{% extends 'base.html' %}

{% block content %}

<form>
    <input type="button" value="Back" onclick="history.back()">
</form>



<div class="form-container">
    <form action="/cities/{{city.id}}" class="item_form" method="post">
        <div>
            <label for="name">City Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" value="{{city.name}}">
        </div>
        <div>
            <label for="country">Country:</label>
            <select id="country" name="country_id">
                {% for country in countries %}
                  <option value="{{ country.id }}"
                    {% if city.country.id == country.id %} selected="selected"{% endif %}>
                    {{ country.name }}
                  </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Update City</button>
    </form>
</div>


{% endblock %}