{% extends 'base.html' %}

{% block content %}

<form>
    <input type="button" value="Back" class="back_button" onclick="history.back()">
</form>

<div class="show_container">
    <ul>
        <li>
            <h2>{{city.name}}</h2>
        </li>
        <li>
            Country: {{city.country.name}}
        </li>
        <li>
            Seen it? {% if city.visited == True %}
                Yes!
            {% endif %}
            {% if city.visited == False %}
                Not yet!
            {% endif %}
        </li>
    </ul>
    <a href="/cities/{{city.id}}/edit"><i class="fas fa-edit" id="edit_button"></i></a>
</div>


{% endblock %}