{% extends 'base.html' %}

{% block content %}

<form>
    <input type="button" value="Back" class="back_button" onclick="history.back()">
</form>

<section class="card_container">
    {% for city in cities %}
    
    <div class="card">
        <div class="card_image" style="background-image: url('/static/img/cities/{{city.name}}.jpeg');"></div>
        <h2><a href="/cities/{{city.id}}">{{city.name}}</a></h2>
        <p>{{city.country}}</p>
        <div class="button_container">
            <form class="mark_not_visited_form" action="/cities/visited/{{city.id}}/marknotvisited" method="POST">
            <button><i class="fas fa-times"></i></button></form>
            <a href="/cities/{{city.id}}/edit"><i class="fas fa-edit"></i></a>
            <form class="delete_form" action="/cities/visited/{{city.id}}/deletevisited" method="POST">
            <button><i class="fas fa-trash-alt"></i></button></form>
        </div>
    </div>
        
    
    {% endfor %}
</section>

{% endblock %}

