  .card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .card h2 {
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  a:link {
    color: #e9c46a;
  }

  a:visited {
    color: #e9c46a;
  }

  .card p {
    font-size: medium;
    text-align: center;
    color: #e76f51;
  }

  .card {
    background-color: #264653;
    margin: 20px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    box-shadow: 5px 5px #0c0c0c71;
    
    border-radius: 10px;
  }

  .card_image {
    height: 40%;
    background-color: dodgerblue;
    margin-bottom: 15px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
  }

  .button_container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;

  }


  i {
    color: white;
  }
  
  .button_container button {
    background: none;
    border: none;
  }

button:hover, button:focus, a:hover, a:focus {
  opacity: 1;
}

  #edit_button {
    color: rgb(187, 180, 180);
  }

.main_show_container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
}


.show_container {
  box-sizing: border-box;
  box-shadow: 0 0 10px black; 
  width: 80%;
  max-width: 800;
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: #264653;
  margin-bottom: 40px;

}

.side_container {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.show_image {
  height: 350px;
  width: 500px;
  margin: 25px;
  border-radius: 5px;
}

.list_items {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 40px;
}

.list_items p, h2, ul, li, h3 {
  color: #edddd4;
}

.side_container i {
  color: #e9c46a;
  text-decoration: underline;
} 