.table_container {
    display: flex;
    margin: 10px;
}

td, th {
    text-align: left;
    border: solid;
    padding: 15px;
  }
  
  th {
    padding: 0px 20px 10px 0px;
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  
  table {
    border:rgba(54, 54, 54, 0.904) solid;
    width: 80%;
    margin: 20px;
  }


  .card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .card h2 {
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  a:link {
    color: #e9c46a;
  }

  a:visited {
    color: #e9c46a;
  }

  .card p {
    font-size: medium;
    text-align: center;
    color: #e76f51;
  }

  .card {
    background-color: #264653;
    margin: 20px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    
    border-radius: 10px;
  }

  .card_image {
    height: 40%;
    background-color: dodgerblue;
    margin-bottom: 15px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
  }

  .button_container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;

  }


  i {
    color: white;
  }
  
  .button_container button {
    background: none;
    border: none;
  }