<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
    <title>Travelbucket - Home</title>
</head>
<body>
    <header>
        <div class="header_container">
            <img alt="logo" src="{{ url_for('static', filename='img/logo.jpeg') }}" id="logo">
            <h1>Travelbucket</h1>
            <nav>
                <ul class="menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/countries">Countries</a></li>
                    <li><a href="/cities">Cities</a></li>
                    <li><a href="/newitems">New Item</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
        {% block content %}

        {% endblock%}
    <footer>
        <div class="footer-container">
            <nav>
                <ul class="footer_menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/countries">Countries</a></li>
                    <li><a href="/cities">Cities</a></li>
                    <li><a href="/newitems">New Item</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
</body>
</html>