<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Travelbucket - Home</title>
</head>
<body>
    <header>
        <div class="header_container">
            <img alt="logo" src="static/img/logo.jpeg" id="logo">
            <h1>Travelbucket</h1>
            <nav>
                <ul class="menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/countries">Countries</a></li>
                    <li><a href="/cities">Cities</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <main class="main_content">
        <div class="primary_container">
            <a href="/countries">
                <img alt="countries_img" src="https://wallpapercave.com/wp/wp8450694.jpg" class="primary_images">
            </a>
            <a href="/cities">
                <img alt="countries_img" src="https://wallpapercave.com/wp/81z22JT.jpg" class="primary_images">
            </a>
        </div>
    </main>
    <footer>
        <p>Menu</p>
    </footer>
</body>
</html>