{% extends 'base.html' %}

{% block content %}

<main class="main_content">
    <div class="title_container">
        <a href="/countries"><h2>Countries</h2></a>
        <a href="/cities"><h2>Cities</h2></a>
    </div>
    <div class="primary_container">
        <div class="image_container1">
            <a href="/countries" class="image_links">
                <img alt="countries_img" src="https://wallpapercave.com/wp/wp8450694.jpg" class="primary_images">
            </a>
        </div>
        <div class="image_container2">
            <a href="/cities" class="image_links">
                <img alt="countries_img" src="https://wallpapercave.com/wp/81z22JT.jpg" class="primary_images">
            </a>
        </div>
    </div>
</main>

{% endblock %}